{% extends '@EzPublishCore/content_fields.html.twig' %}

{% block ezobjectrelation_field %}
{% spaceless %}
{% if not ez_is_field_empty( content, field ) and parameters.available %}
    {{ fos_httpcache_tag('relation-' ~ field.value.destinationContentId) }}
    <div {{ block( 'field_attributes' ) }}>
        {{ render( controller( "ez_content:viewAction", {'contentId': field.value.destinationContentId, 'viewType': 'text_linked', 'layout': false} ) ) }}
    </div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block ezobjectrelationlist_field %}
{% spaceless %}
    {% if not ez_is_field_empty( content, field ) %}
    <ul {{ block( 'field_attributes' ) }}>
        {% for contentId in field.value.destinationContentIds if parameters.available[contentId] %}
        {{ fos_httpcache_tag('relation-' ~ contentId) }}
        <li>
            {{ render( controller( "ez_content:viewAction", {'contentId': contentId, 'viewType': 'embed', 'layout': false} ) ) }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block ezimage_field %}
{% spaceless %}
    {% if not ez_is_field_empty(content, field) %}
        {% set link_href = parameters.link_href|default('') %}
        {% set link_target = parameters.link_target|default('') %}

        {% if link_href is not empty %}
            <a href="{{ link_href }}"
                {% if link_target is not empty %} target="{{ link_target }}" {% if link_target == '_blank' %}rel="noopener noreferrer"{% endif %} {% endif %}
                {% if parameters.link_id|default('') is not empty %} id="{{ parameters.link_id }}" {% endif %}
                {% if parameters.link_class|default('') is not empty %} class="{{ parameters.link_class }}" {% endif %}
                {% if parameters.link_title|default('') is not empty %} title="{{ parameters.link_title }}" {% endif %}
            >
        {% endif %}

        {% if parameters.disable_src_attribute|default(false) == true %}
            <img {# the responsibility of user is to set data-src #}
                {% if parameters.image_class|default('') is not empty %} class="{{ parameters.image_class }}" {% endif %}
                alt="{{ parameters.alt_text|default(field.value.alternativeText) }}"
                {{ block('field_attributes') }} />
        {% else %}
            {% set image_alias = ez_image_alias(field, versionInfo, parameters.alias|default('original')) %}

            <img src="{% if image_alias %}{{ asset(image_alias.uri) }}{% else %}//:0{% endif %}"
                {% if parameters.image_class|default('') is not empty %} class="{{ parameters.image_class }}" {% endif %}
                {% if image_alias.width|default('') is not empty %} width="{{ image_alias.width }}" {% endif %}
                {% if image_alias.height|default('') is not empty %} height="{{ image_alias.height }}" {% endif %}
                alt="{{ parameters.alt_text|default(field.value.alternativeText) }}"
                {{ block('field_attributes') }} />
        {% endif %}

        {% if link_href is not empty %}
            </a>
        {% endif %}
    {% elseif parameters.force_tag|default(false) %}
        <img src="//:0" alt="" />
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block ezgmaplocation_field %}
{% spaceless %}
    {% set map_height = map_height|default(500) %}
    {% set zoom = zoom|default(false) %}
    {% set map_type = map_type|default(false) %}

    {% set latitude = field.value.latitude|default(false) %}
    {% set longitude = field.value.longitude|default(false) %}

    {% include
        '@NetgenMore/parts/google_maps.html.twig' with {
            'container_id': field.id,
            'latitude': latitude,
            'longitude': longitude,
            'map_height': map_height,
            'zoom': zoom,
            'map_type': map_type
        }
    %}
{% endspaceless %}
{% endblock %}

{% block ezbinaryfile_field %}
{% spaceless %}
    {% if not ez_is_field_empty(content, field) %}
        <a href="{{ path('ngmore_download', { contentId: contentInfo.id, fieldId: field.id }) }}" {{ block('field_attributes') }}>
            {{ field.value.fileName }}
        </a>&nbsp;({{ field.value.fileSize|ez_file_size(1) }})
    {% endif %}
{% endspaceless %}
{% endblock %}
