{% include 'NetgenMoreBundle:parts:google_maps_init.html.twig' %}
<script type="text/javascript">
    var mapOptions = {
        {% if container_id is defined and container_id is not empty %}containerId: "{{ container_id|raw|escape( 'js' ) }}",{% endif %}
        {% if latitude is defined and latitude is not empty %}latitude: {{ latitude|raw|escape( 'js' ) }},{% endif %}
        {% if longitude is defined and longitude is not empty %}longitude: {{ longitude|raw|escape( 'js' ) }},{% endif %}
        {% if zoom is defined and zoom is not empty %}zoom: {{ zoom|raw|escape( 'js' ) }},{% endif %}
        {% if map_type is defined and map_type is not empty %}mapType: "{{ map_type|raw|escape( 'js' ) }}"{% endif %}
    };

    google.maps.event.addDomListener(window, 'load', function(){ initializeGoogleMaps( mapOptions ); });
</script>

<div id="map-canvas-{{ container_id|default( 0 )|raw|escape( 'js' ) }}" class="google-maps" style="height:{{ map_height|default( 560 )|raw|escape( 'js' ) }}px; width:100%;"></div>
